<div id="txt">
    <h1> Hello {{userName?userName.firstName:""}} {{userName?userName.familyName:""}} </h1>
    
    <h2> Instruction for filling out a form </h2>
    <p>
    You must fill in the form with your first name, your last name and your ID card, in the appropriate inputs.
    <br/>
    In the selection panels you must select gender as well as the health insurance fund you are a member of.
    <br/>
    Please click on the add child button for each of your children 
    <br/> 
    fill in the required details in the inputs that will open for them.
    <br/>
    Note that the data will be sent and saved only after filling in all the details.
    <br/>
     When sending, an Excel file with the details will be downloaded to you.
     <br/>
    thank you and good luck!
    
    </p>
    </div>